<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="currentPage='gasket'">
<head></head>
<body>
<div th:fragment="content" class="content">

    <link th:href="@{/css/objects.css}" href="../static/css/objects.css" rel="stylesheet" media="screen"/>

    <div th:if="${message != null}" class="alert alert-success">
        <strong th:text="${message}"></strong>
    </div>

    <div class="forms" ng-controller="gasketController">
        <form action="#" th:action="@{/gasket/edit}" th:object="${gasket}" method="post">
            <table style="margin: 0 auto">
                <caption th:utext="#{title.gasket.form}"></caption>
                <tr>
                    <td>
                        <label th:utext="#{label.gasket.circumference}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{circumference}" th:placeholder="circumference" class="form-control"/>
                    </td>
                    <td th:if="${#fields.hasErrors('circumference')}" th:errors="*{circumference}" class="field-error"></td>
                </tr>
                <tr>
                    <td>
                        <label th:utext="#{label.gasket.thickness}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{thickness}" th:placeholder="thickness" class="form-control"/>
                    </td>
                    <td th:if="${#fields.hasErrors('thickness')}" th:errors="*{thickness}" class="field-error"></td>
                </tr>
                <tr>
                    <td>
                        <label th:utext="#{label.gasket.utilisation}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{utilisation}" th:placeholder="utilisation" class="form-control"/>
                    </td>
                    <td th:if="${#fields.hasErrors('utilisation')}" th:errors="*{utilisation}" class="field-error"></td>
                </tr>
                <tr>
                    <td>
                        <label th:utext="#{label.gasket.material}"/>
                    </td>
                    <td>
                        <select class="form-control" th:field="*{material.id}" >
                            <option th:each="material : ${materials}"
                                    th:value="${material.id}"
                                    th:text="${material.name}">
                                Material
                            </option>
                        </select>
                    </td>
                    <td th:if="${#fields.hasErrors('material.id')}" th:errors="*{material.id}" class="field-error"></td>>
                </tr>
                <tr th:each="info, status : *{infoList}">
                    <td>
                        <label th:if="${status.index == 0}" th:utext="#{label.gasket.description}">Name</label>
                    </td>
                    <td colspan="2">
                        <img th:src="@{'/image/flag/' + ${info.language.language} + '.png'}" class="name-flag"/>
                        <input type="hidden" th:attr="name='infoList[' + ${status.index} + '].id'" th:value="${info.id}"/>
                        <input type="hidden" th:attr="name='infoList[' + ${status.index} + '].language'" th:value="${info.language}"/>
                        <input type="text" th:field="*{infoList[__${status.index}__].description}"
                               th:placeholder="description" class="form-control" style="padding-left: 40px;"/>
                    </td>
                    <td th:if="${#fields.hasErrors('infoList[' + status.index + '].description')}"
                        th:errors="*{infoList[__${status.index}__].description}" class="field-error"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right;">
                        <input type="hidden" th:attr="name='id'" th:value="*{id}"/>
                        <button type="reset" th:utext="#{btn.reset}" class="btn btn-sm btn-default">reset</button>
                        <button type="submit" th:utext="#{btn.save}" class="btn btn-sm btn-default">save</button>
                    </td>
                    <td th:if="${#fields.hasErrors('*')}"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>