<html  >
<head></head>
<body>
<div class="login-container" th:fragment="content">

    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">${activation}</h2>
        <h2 class="form-signin-heading">${user.name}&nbsp;${user.surname}</h2>
        <label for="inputEmail" class="sr-only" >${message}</label>

        <a href="${url}">${message}</a>
    </form>
</div>
</body>
</html>