<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="imageDialog">
        <!-- Image Dialog -->
        <div class="modal fade" id="dlgImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only" th:utext="#{dlg.label.close}">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            {{image.filename}}
                        </h4>
                    </div>
                    <div class="modal-body" style="text-align: center">
                        <img ng-attr-src="{{image.src}}" style="width: 100%"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" th:utext="#{dlg.label.close}">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>