<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="currentPage='transport'"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
<div th:fragment="content" class="content">

    <link th:href="@{/css/objects.css}" href="../static/css/objects.css" rel="stylesheet" media="screen"/>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var object = 'transport';
        var itemsCount = [[${dataCount}]];
        var columns = [
            {title: [[#{label.transport.form.verpGrp}]], field: 'verpGrp', visible: true},
            {title: [[#{label.transport.form.clazz}]], field: 'clazz', visible: true},
            {title: [[#{label.transport.form.verpVorschr}]], field: 'verpVorschr', visible: true},
            {title: [[#{label.transport.form.verpSoSuggest}]], field: 'verpSoSuggest', visible: true},
            {title: [[#{label.transport.form.IBCVorschr}]], field: 'IBCVorschr', visible: true},
            {title: [[#{label.transport.form.LTDQtyVorschr}]], field: 'LTDQtyVorschr', visible: true},
            {title: [[#{label.transport.form.taVoSW}]], field: 'taVoSW', visible: true},
            {title: [[#{label.transport.form.IATA_LQ_V}]], field: 'IATA_LQ_V', visible: false},
            {title: [[#{label.transport.form.IATA_LQ_M}]], field: 'IATA_LQ_M', visible: false},
            {title: [[#{label.transport.form.IATA_LQ_BME}]], field: 'IATA_LQ_BME', visible: false},
            {title: [[#{label.transport.form.IATA_PASSENGER_V}]], field: 'IATA_PASSENGER_V', visible: false},
            {title: [[#{label.transport.form.IATA_PASSENGER_M}]], field: 'IATA_PASSENGER_M', visible: false},
            {title: [[#{label.transport.form.IATA_PASSENGER_BME}]], field: 'IATA_PASSENGER_BME', visible: false},
            {title: [[#{label.transport.form.IATA_CARGO_V}]], field: 'IATA_CARGO_V', visible: false},
            {title: [[#{label.transport.form.IATA_CARGO_M}]], field: 'IATA_CARGO_M', visible: false},
            {title: [[#{label.transport.form.IATA_CARGO_BME}]], field: 'IATA_CARGO_BME', visible: false},
            {title: [[#{label.transport.form.Assim}]], field: 'Assim', visible: true},
            {title: [[#{label.transport.form.permeate}]], field: 'permeate', visible: true},
            {title: [[#{label.transport.form.explosionGroup}]], field: 'explosionGroup', visible: true},
            {title: [[#{label.transport.form.dataSource}]], dataSource: 'misc', visible: false}
        ];
        /*]]>*/
    </script>
    <script src="../static/js/object-list.js" th:src="@{/js/object-list.js}"></script>

    <div th:if="${message != null}" class="alert alert-success">
        <strong th:text="${message}"></strong>
    </div>

    <div class="page-container" style="display: block; height: 30px; padding: 0; margin: 0 0 10px 0;">
        <span th:utext="#{title.transport.form}"/>
        <button type="button" class="btn btn-sm btn-default" onclick="document.location='add'" style="float:right;"
                sec:authorize="hasAnyRole('ROLE_WRITER', 'ROLE_ADMIN')" th:utext="#{btn.create}">
            Create New
        </button>
    </div>

    <div ng-controller="objectListController" id="listContent">
        <div th:if="${dataCount > 0}">
            <form action="#" th:action="@{/transport/remove}" method="post">
                <div class="btn-group">
                    <label class="btn btn-primary"
                           ng-repeat="column in columns"
                           ng-class="column.visible ? 'btn btn-primary ng-scope ng-binding' : 'btn btn-primary ng-scope ng-binding column-unchecked'">
                        <input type="checkbox" ng-model="column.visible" ng-click="alert(column.visible);" />
                        <span ng-bind-html="column.title"/>
                    </label>
                </div>
                <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped listItems">
                    <thead>
                    <tr>
                        <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                        <th ng-repeat="column in columns" ng-show="column.visible"
                            ng-bind-html="column.title"
                            class="text-center sortable"  ng-class="{
                                        'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                                        'sort-desc': tableParams.isSortBy(column.field, 'desc')
                                      }" style="vertical-align: top; text-align: center; min-width: 90px;"
                            ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">

                        </th>
                        <th sec:authorize="hasAnyRole('ROLE_WRITER', 'ROLE_ADMIN')"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in $data" ng-class-even="'tbl-row-even'">
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <input type="checkbox" name="id" value="{{item.id}}"/>
                        </td>
                        <td ng-repeat="column in columns" ng-show="column.visible" sortable="column.field">
                            {{item[column.field] ? item[column.field] : 'N/A'}}
                        </td>
                        <td sec:authorize="hasAnyRole('ROLE_WRITER', 'ROLE_ADMIN')">
                            <a href="edit/{{item.id}}" th:utext="#{lnk.edit}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div sec:authorize="hasRole('ROLE_ADMIN')" style="text-align: right;">
                    <button type="submit" class="btn btn-sm btn-default" style=" margin-top:5px;" th:utext="#{btn.remove}"></button>
                </div>
                <input type="hidden" ng-model="itemsCount" th:attr="ng-init='itemsCount=' + ${dataCount}"/>
                <input type="hidden" ng-model="actionPath" ng-init="actionPath='/transport/list-items'"/>
            </form>
        </div>
        <div th:if="${dataCount == 0}" th:utext="#{info.list.data.found}"></div>
    </div>
</div>
</body>
</html>