<html xmlns:th="http://www.thymeleaf.org" th:with="currentPage='forget-password'">
<head></head>
<body>
	<div class="login-container" th:fragment="content">
		<div th:if="${messageSuccess != null}" class="alert alert-success">
			<strong th:text="${messageSuccess}"></strong>
		</div>
		<div th:if="${messageDanger != null}" class="alert alert-danger fade in">
			<strong th:text="${messageDanger}"></strong>
		</div>

		<form class="form-signin" th:action="@{/forget-user-password}" method="post">
			<h2 class="form-signin-heading" th:utext="#{form.forget.psw.heading}"></h2>
			<h4 class="form-signin-heading" th:utext="#{form.forget.psw.heading.email}"></h4>


			<label for="email" class="sr-only" th:utext="#{label.email}"></label>
			<input type="email" name="email" id="email" required="required"
				   class="form-control" th:placeholder="#{label.email}"/>

			<button class="btn btn-sm" type="submit" th:utext="#{btn.send}"></button>
		</form>
	</div>
</body>
</html>