<html xmlns:th="http://www.thymeleaf.org" th:with="currentPage='reset-user-password'">
<head></head>
<body>
	<div class="login-container" th:fragment="content">
		<div th:if="${messageSuccess != null}" class="alert alert-success">
			<strong th:text="${messageSuccess}"></strong>
		</div>
		<div th:if="${messageDanger != null}" class="alert alert-danger fade in">
			<strong th:text="${messageDanger}"></strong>
		</div>

		<form class="form-signin" th:action="@{/reset-user-password}" method="post">
			<h2 th:if="${user != null}" class="form-signin-heading" th:text="${user.name}  + ' ' + ${user.surname}"></h2>
			<h2 class="form-signin-heading" th:utext="#{form.reset.psw.heading}"></h2>


			<label for="inputPassword" class="sr-only" th:utext="#{label.password}"></label>
			<input type="password" name="password" id="inputPassword" required="required"
				   class="form-control" th:placeholder="#{label.password}"/>

			<button class="btn btn-sm" type="submit" th:utext="#{btn.reset}"></button>
		</form>
	</div>
</body>
</html>