<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="currentPage='businessunit'">
<head></head>
<body>
<div th:fragment="content" class="content">

    <link th:href="@{/css/objects.css}" href="../static/css/objects.css" rel="stylesheet" media="screen"/>

    <div th:if="${message != null}" class="alert alert-success">
        <strong th:text="${message}"></strong>
    </div>

    <div class="forms">
        <form action="#" th:action="@{/businessunit/edit}" th:object="${businessunit}" method="post">
            <table style="margin: 0 auto">
                <caption th:utext="#{title.business.unit.form}"></caption>
                <tr>
                    <td>
                        <label th:utext="#{label.businessunit.match.code}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{matchCode}" th:placeholder="matchCode" class="form-control"/>
                    </td>
                    <td th:if="${#fields.hasErrors('matchCode')}" th:errors="*{matchCode}" class="field-error"></td>
                </tr>
                <tr>
                    <td>
                        <label th:utext="#{label.businessunit.misc}"/>
                    </td>
                    <td>
                        <input type="text" th:field="*{misc}" th:placeholder="misc" class="form-control"/>
                    </td>
                    <td th:if="${#fields.hasErrors('misc')}" th:errors="*{misc}" class="field-error"></td>
                </tr>
                <tr th:each="info, status : *{infoList}">
                    <td>
                        <label th:if="${status.index == 0}" th:utext="#{label.businessunit.name}">Name</label>
                    </td>
                    <td colspan="2">
                        <img th:src="@{'/image/flag/' + ${info.language.language} + '.png'}" class="name-flag"/>
                        <input type="hidden" th:attr="name='infoList[' + ${status.index} + '].id'" th:value="${info.id}"/>
                        <input type="hidden" th:attr="name='infoList[' + ${status.index} + '].language'" th:value="${info.language}"/>
                        <input type="text" th:field="*{infoList[__${status.index}__].name}"
                               th:placeholder="name" class="form-control" style="padding-left: 40px;"/>
                    </td>
                    <td th:if="${#fields.hasErrors('infoList[' + status.index + '].name')}"
                        th:errors="*{infoList[__${status.index}__].name}" class="field-error"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right;">
                        <input type="hidden" th:attr="name='id'" th:value="*{id}"/>
                        <button type="reset" th:utext="#{btn.reset}" class="btn btn-sm btn-default">reset</button>
                        <button type="submit" th:utext="#{btn.save}" class="btn btn-sm btn-default">save</button>
                    </td>
                    <td th:if="${#fields.hasErrors('*')}"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>